meta(charset="utf-8")
title= SITE.title
meta(name="description" content= SITE.meta.description)
meta(name="keywords" content= SITE.meta.keywords)

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
// Chrome, Firefox OS and Opera
meta(name="theme-color" content= SITE.meta.color)
// Windows Phone
meta(name="msapplication-navbutton-color" content= SITE.meta.color)
// iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content= SITE.meta.color)

link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
link(rel="manifest", href="img/favicon/site.webmanifest")
link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#e60000")
meta(name="msapplication-TileColor", content="#ffc40d")

// CSS
link(rel="stylesheet" href="css/main.min.css")



