mixin review(x)
	- var src = ["","/img/review1.jpg","/img/review2.jpg","/img/review3.jpg","/img/review1.jpg","/img/review2.jpg","/img/review3.jpg"];

	- var txt = ["", "Спасибо вашей компании за удобную и выгодную аренду автомобиля) за 3 дня накатали почти 1000 км, объездили всю южную часть острова, ездили в Полис, в горы и на дикие пляжи - машина нигде не подвела. Буду рекомендовать вашу компанию!", "Хотелось бы выразить благодарность вашей прокатной компании за предоставленные велосипеды в аренду для всей нашей семьи (два взрослых и двое детей). Отдыхали на Кипре 2 недели и решили покататься на велосипедах, взяли в аренду 4 байка на 5 дней - объехали весь город Пафос вдоль и поперек :) Байки были в хорошем состоянии, нам очень понравилось. Теперь знаем куда обращаться, если потребуется аренда на Кипре в г.Пафосе! P.S.: благодарим за предоставленную скидочку - нам хватило на сувенирчики :-)", "Никогда не думал, что так быстро привыкну к правому рулю - спасибо за подбор маленького, юркого маневренного автомобильчика и тестовую поездку c кратким инструктажем.", "Большое спасибо вам за предоставленный в аренду автомобиль - встреча в аэропорту точно по графику, никаких заморочек с приемом/передачей автомобиля и никаких предоплат! Супер! С помощью Вас нам удалось отлично провести время на отдыхе: мы побывали во множестве красивых мест, ездили в Акамас на Черепаший пляж, посетили настоящие традиционные кипрские таверны. Мы с супругой остались очень довольны, так держать!", "Спасибо огромное за автомобиль. Сработали очень быстро. Авто доставили к подъезду,оформили за пять минут. Решили остаться еще на день,без проблем продлили,деньги отдали при сдачи авто. И еще номер достался крутой", "Мы брали автомобиль на 15 дней, остались очень довольны! Посетили кучу мест благодаря авто: Пафос, полуостров Акамас, Полис, Лимассол, Ларнака, Протарас, Айа Напа, прекрасный мыс Греко и многочисленные пляжи по всему Кипру! Спасибо большое, вы лучшие!!"];

	.item
		.review
			.review-img
				noscript(data-src=src[x] data-alt="")
					img(src=src[x], alt="")
			i.fas.fa-quote-left
			p.u-name Евлампий 
			p.review-text #{txt[x]}

// <Reviews>
section#reviews
	h2 Отзывы клиентов
	.container-fluid
		.row
			.col-xs-12
				#owl-reviews.owl-carousel
					for r in [1,2,3,4,5,6]
						+review(r)

// </Reviews>